In [7]:
import pandas as pd
import xml.etree.ElementTree as ET

In [2]:
df = pd.read_csv('ManU')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304 entries, 0 to 303
Columns: 115 entries, id to BSA
dtypes: float64(33), int64(72), object(10)
memory usage: 273.2+ KB

In [63]:
MU_id = 10261

In [73]:
df.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1729,1729,1729,2008/2009,1,2008-08-17 00:00:00,489042,10260,10261,1,...,10.00,1.28,5.5,12.00,1.30,4.75,10.00,1.29,4.5,11.00
1,1739,1729,1729,2008/2009,10,2008-10-29 00:00:00,489132,10260,8654,2,...,17.00,1.20,6.1,19.00,1.20,6.00,13.00,1.22,5.5,12.00
2,1749,1729,1729,2008/2009,11,2008-11-01 00:00:00,489142,10260,8667,4,...,19.00,1.17,7.0,19.00,1.18,6.00,17.00,1.17,6.5,13.00
3,1759,1729,1729,2008/2009,12,2008-11-08 00:00:00,489152,9825,10260,2,...,2.38,3.25,3.2,2.35,3.00,3.20,2.35,3.30,3.2,2.25
4,1769,1729,1729,2008/2009,13,2008-11-15 00:00:00,489162,10260,10194,5,...,19.00,1.14,6.5,13.00,1.15,7.50,16.00,1.14,6.5,17.00

In [11]:
goal = df.iloc[0]['goal']

In [12]:
root = ET.XML(goal)

In [16]:
[elem.tag for elem in root.iter()]

['goal',
 'value',
 'comment',
 'stats',
 'goals',
 'shoton',
 'event_incident_typefk',
 'elapsed',
 'player2',
 'subtype',
 'player1',
 'sortorder',
 'team',
 'id',
 'n',
 'type',
 'goal_type',
 'value',
 'comment',
 'stats',
 'goals',
 'shoton',
 'event_incident_typefk',
 'elapsed',
 'player2',
 'subtype',
 'player1',
 'sortorder',
 'team',
 'id',
 'n',
 'type',
 'goal_type']

In [20]:
for child in root.iter('elapsed'):
    print(child.attrib)

{}
{}

In [49]:
root.getchildren()[0][3].text

'22'

In [58]:
root.getchildren()[0][8].text

'10261'

In [54]:
[i.text for i in root.getchildren()[0]]

['n',
 None,
 '406',
 '22',
 '38807',
 'header',
 '37799',
 '5',
 '10261',
 '378998',
 '295',
 'goal',
 'n']

In [56]:
[i.text for i in root.getchildren()[1]]

['n',
 None,
 '393',
 '24',
 '24154',
 'shot',
 '24148',
 '4',
 '10260',
 '379019',
 '298',
 'goal',
 'n']

In [62]:
len(root.getchildren())

2

In [70]:
def get_goals(xml):
    root = ET.XML(xml)
    goal_for = []
    goal_against = []
    for goal in root.getchildren():
        if int(goal[8].text) == MU_id:
            goal_for.append(int(goal[3].text))
        else:
            goal_against.append(int(goal[3].text))
    return [goal_for,goal_against]

In [71]:
get_goals(goal)

[[22], [24]]

In [123]:
list(root.getchildren()[-1].iter('homepos'))[-1].text

'47'

In [125]:
p = df.iloc[303]['goal']
root = ET.XML(p)
for pos in root.getchildren()[-1]:
    print(pos.text)

n
None
393
None
62
164676
shot
30829
2
10260
4910518
497
goal
n

In [120]:
print(root.getchildren()[-1].iter('homepos'))

<_elementtree._element_iterator object at 0x7f563d2f7b48>

['51', '352', '89', 'possession', '1', '49', '51', '180', 'special', '468350']

In [106]:
for p in root.getchildren()[2]:
    print(p.text)

47
None
352
69
possession
4
53
47
561
special
4910721

In [124]:
list(root.iter('homepos'))[-1].text

'47'

In [100]:
root.iter('homepos')

TypeError: object of type '_elementtree._element_iterator' has no len()

In [126]:
df.iloc[303]['goal']

'<goal><value><comment>n</comment><stats><goals>1</goals><shoton>1</shoton></stats><event_incident_typefk>393</event_incident_typefk><coordinates><value>31</value><value>62</value></coordinates><elapsed>18</elapsed><player2>165823</player2><subtype>shot</subtype><player1>46893</player1><sortorder>6</sortorder><team>10260</team><id>4909078</id><n>153</n><type>goal</type><goal_type>n</goal_type></value><value><comment>n</comment><stats><goals>1</goals><shoton>1</shoton></stats><event_incident_typefk>406</event_incident_typefk><coordinates><value>22</value><value>63</value></coordinates><elapsed>22</elapsed><player2>161035</player2><subtype>header</subtype><player1>164676</player1><sortorder>1</sortorder><team>10260</team><id>4909146</id><n>158</n><type>goal</type><goal_type>n</goal_type></value><value><comment>n</comment><stats><goals>1</goals><shoton>1</shoton></stats><event_incident_typefk>393</event_incident_typefk><coordinates><value>17</value><value>62</value></coordinates><elapsed>62</elapsed><player2>164676</player2><subtype>shot</subtype><player1>30829</player1><sortorder>2</sortorder><team>10260</team><id>4910518</id><n>497</n><type>goal</type><goal_type>n</goal_type></value></goal>'

In [127]:
get_goals(p)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneType'

In [144]:
for child in root.getchildren()[0]:
    print(child)

<Element 'comment' at 0x7f560e0f28b8>
<Element 'stats' at 0x7f560e0f2ef8>
<Element 'event_incident_typefk' at 0x7f560e0f2db8>
<Element 'coordinates' at 0x7f560e0f2458>
<Element 'elapsed' at 0x7f560e15e958>
<Element 'player2' at 0x7f560e15e688>
<Element 'subtype' at 0x7f560e15ee08>
<Element 'player1' at 0x7f560e15e098>
<Element 'sortorder' at 0x7f560e15e0e8>
<Element 'team' at 0x7f560e15e278>
<Element 'id' at 0x7f560e15e1d8>
<Element 'n' at 0x7f560e15e4f8>
<Element 'type' at 0x7f560e15e318>
<Element 'goal_type' at 0x7f560e15ed68>

In [130]:
m = root.getchildren()[0]

In [155]:
[(i.text,i.tag) for i in m]

[('n', 'comment'),
 (None, 'stats'),
 ('393', 'event_incident_typefk'),
 (None, 'coordinates'),
 ('18', 'elapsed'),
 ('165823', 'player2'),
 ('shot', 'subtype'),
 ('46893', 'player1'),
 ('6', 'sortorder'),
 ('10260', 'team'),
 ('4909078', 'id'),
 ('153', 'n'),
 ('goal', 'type'),
 ('n', 'goal_type')]

In [145]:
Element(m)

NameError: name 'Element' is not defined

In [160]:
5 in range(3,5)

False

In [141]:
root.attrib

{}

In [142]:
'goal_type' in root.attrib

False